.home{
  min-height: calc(100vh - 60px);
  margin-top: 60px;
  background: linear-gradient(to right, transparent, $black_shadow), url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
  &_img{
    height: 260px;
    animation: appear 1s ease-out;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
  }
  &_logo{
    height: 125px;
  }
  &_text_container{
    display: flex;
    flex-direction: column;
    color: $white-light;
    text-align: center;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 1));
    animation: appear 1s ease-out;
  }
  &_description{
    &_container{
      margin: 10px 0 50px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      :nth-child(1){
        color: $green-dark;
      }
      :nth-child(2){
        color: $yellow-dark;
      }
      :nth-child(3){
        color: $blue-dark;
      }
    }
    &_item{
      padding: 20px 16px;
      background: white;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      font-weight: bold;
    }
  }
  &_button{
    padding: 12px 16px;
    border: unset;
    border-radius: 10px;
    background: $green;
    color: white;
    font-family: $font-viga;
    font-size: 24px;
    transition: background-color .2s;
    cursor: pointer;
    &:hover{
      background: $green-dark;
    }
  }
}

@media (max-width: 1200px) {
  .home{
    &_img{
      height: 220px;
    }
  }
}

@media (max-width: 1024px) {
  .home{
    &_img{
      height: 180px;
    }
    &_logo{
      height: 100px;
    }
    &_description{
      &_container{
        gap: 10px;
      }
      &_item{
        padding: 16px 12px;
        font-size: 18px;
      }
    }
    &_button{
      font-size: 20px;
    }
  }
}

@media (max-width: 915px) {
  .home{
    &_img{
      height: 160px;
    }
    &_logo{
      height: 80px;
    }
    &_description{
      &_container{
        margin: 10px 0 40px;
      }
      &_item{
        padding: 12px;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 768px) {
  .home{
    background: linear-gradient(to top, transparent, $black_shadow), url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column-reverse;
    &_img{
      width: calc(100% - 40px);
      height: fit-content;
    }
    &_text_container{
      width: 100%;
      align-items: center;
    }
    &_logo{
      width: calc(100% - 80px);
      height: fit-content;
    }
    &_description{
      &_container{
        width: 100%;
        padding: 0 20px;
        gap: 20px;
      }
      &_item{
        width: 100%;
        padding: 16px 12px;
        font-size: 22px;
      }
    }
    &_button{
      padding: 16px 20px;
      font-size: 24px;
    }
  }
}

@media (max-width: 600px) {
  .home{
    &_text_container{
      width: 100%;
    }
    &_description{
      &_item{
        width: 100%;
        padding: 16px 12px;
        font-size: 18px;
      }
    }
    &_button{
      padding: 12px 16px;
      font-size: 20px;
    }
  }
}

@media (max-width: 425px) {
  .home{
    &_img{
      width: calc(100% - 10px);
    }
    &_logo{
      width: calc(100% - 20px);
      height: fit-content;
    }
    &_description{
      &_container{
        padding: 0 10px;
        gap: 16px;
      }
      &_item{
        width: 100%;
        font-size: 16px;
      }
    }
    &_button{
      font-size: 18px;
    }
  }
}

@media (max-width: 375px) {
  .home{
    &_description{
      &_container{
        padding: 0 10px;
        gap: 10px;
      }
      &_item{
        padding: 14px 10px;
      }
    }
  }
}

@media (min-width: 1600px) {
  .home{
    &_img{
      height: 300px;
    }
    &_logo{
      height: 150px;
    }
    &_description{
      &_item{
        padding: 18px 14px;
        font-size: 24px;
      }
    }
    &_button{
      font-size: 26px;
    }
  }
}

@media (min-width: 1960px) {
  .home{
    &_img{
      height: 320px;
    }
    &_logo{
      height: 175px;
    }
    &_description{
      &_item{
        font-size: 26px;
      }
    }
    &_button{
      font-size: 28px;
    }
  }
}
