.nav{
  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  background: $white-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  &_logo{
    height: 50px;
  }
  &_bag{
    width: 44px;
    height: 44px;
    outline: none;
    border: 2px solid $yellow;
    border-radius: 50%;
    box-shadow: 0 0 5px $black-shadow;
    background: $blue;
    justify-self: right;
    color: $white;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    transition: border .2s, box-shadow .2s, background-color .2s, color .2s;
    &:hover{
      border: 2px solid $yellow-dark;
      box-shadow: 0 0 10px $black-shadow;
      background: $blue-dark;
      color: $white-dark;
      .nav_bag-counter{
        background: $green-dark;
      }
    }
    &-counter{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $green;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white-light;
      font-size: 14px;
      position: absolute;
      top: -5px;
      right: -5px;
      transition: background-color .2s;
    }
  }
}

@media (max-width: 768px) {
  .nav{
    padding: 0 10px;
  }
}

// @media (max-width: 425px) {
//   .nav{
//     &_bag{
//       position: fixed;
//       bottom: 70px;
//       right: 20px;
//     }
//   }
// }
