$white-light: #ffffff;
$white: #F8F8F8;
$white-dark: #F1F1F1;

$black-light: #404040;
$black: #202020;
$black-dark: #1A1A1A;
$black-shadow: #00000090;

$green-light: #33AF61;
$green: #009b3a;
$green-dark: #007c2e;

$yellow-light: #FEE533;
$yellow: #FEDF00;
$yellow-dark: #CBB200;

$blue-light: #335291;
$blue: #002776;
$blue-dark: #001F5E;

$red-light: #d33333;
$red: #C80000;
$orange: #FB8B1C;
$orange-dark: #C96F16;

$facebook: #1778F2;
$instagram: radial-gradient(130.55% 130.54% at 13.29% 100.47%, #FA8F21 9%, #D82D7E 48%, #8c3aaa 78%, #8C3AAA 100%);
$email: #DB4A39;
$phone: #25D366;

$font-lato-regular: 'Lato', sans-serif;
$font-lato-italic: italic 1rem 'Lato', sans-serif;
$font-viga: 'Viga', sans-serif;
$font-playfair: italic 1rem 'Playfair Display', serif;
